
/*

Template:  The Chondo Hotel - Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Version: 1
Design and Developed by: potenzaglobalsolutions.com

NOTE: This is Style customizer stylesheet of template.

*/
.error-message {
    color: #e00a0a;
    font-size: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    display: block;
}

div.style-customizer {
    background-color: #fff;
    color: #262626;
    width: 300px;
    position: fixed;
    top: 0;
    z-index: 9999999999;
    left: -300px;
    box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
    height: 100%;
    bottom: 0;
}

.style-customizer a.button:hover {
    color: #fff !important;
}

.style-customizer.closed {
    box-shadow: none;
}

.style-customizer a.button:hover:after {
    z-index: -1;
}

.style-customizer a.button {
    z-index: 9;
}
.style-customizer .buy-now a.button.button-border, .style-customizer a.button.button-border {
  background: #6bc513 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 20px;
  text-transform: uppercase;
  width: inherit;
}
.style-customizer .buy-now a.button.button-border:hover {
  background: #555 none repeat scroll 0 0;
}

div.style-customizer .buy-button {
    text-align: center;
    display: inline-block;
    z-index: 2;
    background: #fff;
    width: 100%;
    position: absolute
}

div.style-customizer .content-chooser {
    padding: 182px 22px 30px 30px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-top: none;
}

div.style-customizer.opened .content-chooser {
    opacity: 1;
}

.content-chooser p {
    margin-bottom: 10px;
}

div.style-customizer h2 {
    margin: 0;
    font-size: 18px;
}

div.style-customizer h3 {
    font-size: 16px;
    margin-top: 30px;
    line-height: 15px;
}

div.style-customizer hr {
    margin: 15px 0;
}

div.style-customizer hr + h3 {
    margin-top: 0;
}

div.style-customizer a.opener {
    display: block;
    height: 45px;
    position: absolute;
    left: 300px;
    top: 200px;
    background: #fff;
    width: 45px;
    font-size: 20px;
    line-height: 45px;
    color: #777777;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.14), -1px 0 3px 0 rgba(0, 0, 0, 0.14);
}

div.style-customizer.opened a.opener {
    right: -45px;
    border-color: transparent;
}

div.style-customizer ul {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 0;
}

div.style-customizer ul li {
    float: left;
    width: 23%;
    height: 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 3px 3px 0;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

div.style-customizer ul.layoutstyle li {
    width: 45%;
    height: 30px;
    margin-right: 5px;
    color: #fff;
    background-color: #6bc513;
    border: 1px solid #6bc513;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    line-height: 18px
}

div.style-customizer ul.layoutstyle li i {
    color: #cccccc;
    font-size: 11px;
}

div.style-customizer ul.layoutstyle li.selected {
    border: 1px solid #aaaaaa;
}

div.style-customizer ul.layoutstyle li.selected i {
    color: #666666;
}

div.style-customizer ul.footerChange li {
    width: 45%;
    height: 30px;
    margin-right: 5px;
    font-size: 13px;
    padding: 6px 14px 0;
}

div.style-customizer ul.footerChange li.dark {
    color: #f1f1f1;
    background-color: #262626;
}

div.style-customizer ul.footerChange li.light {
    color: #333333;
    background-color: #f7f7f7;
}

div.style-customizer ul.footerChange li i {
    width: 20px;
}

div.style-customizer ul.patternChange li {
    border: 1px solid #f3f3f3;
}

div.style-customizer ul.patternChange li.pattern-0.selected:after,
div.style-customizer ul.patternChange li.pattern-1.selected:after,
div.style-customizer ul.patternChange li.pattern-2.selected:after,
div.style-customizer ul.patternChange li.pattern-3.selected:after,
div.style-customizer ul.patternChange li.pattern-4.selected:after {
    color: #333333;
}

div.style-customizer ul.patternChange li.selected:after {
    color: #ffffff;
}

div.style-customizer ul li.selected {
    border: 3px solid #555;
}
div.style-customizer ul.resetAll li {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 30px;
  min-width: 0;
  padding: 8px 0;
  text-align: center;
  width: 120px;
}
div.style-customizer .btn a {
    text-decoration: none;
    color: #ffffff;
}

div.style-customizer select {
    width: 100%;
    padding: 5px;
    border: 1px solid #b2bfca;
}

div.style-customizer .skin-default {
    background: #6bc513;
}
div.style-customizer .color-1 {
    background: #e9457a;
}
div.style-customizer .color-2 {
    background: #44b272 ;
}
div.style-customizer .color-3 {
    background: #228B22;
}
div.style-customizer .color-4 {
    background: #556B2F;
}
div.style-customizer .color-5 {
    background: #008080;
}
div.style-customizer .color-6 {
    background: #ff9800;
}
div.style-customizer .color-7 {
    background: #e91e63;
}
div.style-customizer .color-8 {
    background: #9c27b0;
}
div.style-customizer .color-9 {
    background: #673ab7;
}
div.style-customizer .color-10 {
    background: #3f51b5;
}
div.style-customizer .color-11 {
    background: #800000;
}


div.style-customizer ul.resetAll li a {
    height: 40px;
    line-height: 25px;
}


/*Background Patterns*/

.pattern-1 {
    background-image: url("../../themes/front/images/customizer/pattern/1.jpg");
}
.pattern-2 {
    background-image: url("../../themes/front/images/customizer/pattern/2.jpg");
}
.pattern-3 {
    background-image: url("../../themes/front/images/customizer/pattern/3.jpg");
}
.pattern-4 {
    background-image: url("../../themes/front/images/customizer/pattern/4.jpg");
}
.pattern-5 {
    background-image: url("../../themes/front/images/customizer/pattern/5.jpg");
}
.pattern-6 {
    background-image: url("../../themes/front/images/customizer/pattern/6.png");
}
.pattern-7 {
    background-image: url("../../themes/front/images/customizer/pattern/7.png");
}

/*Background Images*/

.main-bg-change li {
    overflow: hidden;
}

.main-bg-change li img {
    height: 100%;
    width: 100%;
}

.main-bg-1,.main-bg-2,.main-bg-3,.main-bg-4,.main-bg-5,.main-bg-6,.main-bg-7,.main-bg-8,.main-bg-9,.main-bg-10,.main-bg-11,.main-bg-12,.main-bg-13,.main-bg-14,.main-bg-15,.main-bg-16{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.main-bg-1 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-1.jpg");
}
.main-bg-2 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-2.jpg");
}
.main-bg-3 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-3.jpg");
}
.main-bg-4 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-4.jpg");
}
.main-bg-5 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-5.jpg");
}
.main-bg-6 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-6.jpg");
}
.main-bg-7 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-7.jpg");
}
.main-bg-8 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-8.jpg");
}
.main-bg-9 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-9.jpg");
}
.main-bg-10 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-10.jpg");
}
.main-bg-11 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-11.jpg");
}
.main-bg-12 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-12.jpg");
}
.main-bg-13 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-13.jpg");
}
.main-bg-14 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-14.jpg");
}
.main-bg-15 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-15.jpg");
}
.main-bg-16 {
    background-image: url("../../themes/front/images/customizer/bodybg/bg-16.jpg");
}



/*extra*/


/*home-2*/

.boxed-layout .move-carousel {
    top: 9%;
    padding: 0px 0px 0px 35px;
}

.boxed-layout .awesome-features .awesome-features-device img {
    left: -440px;
}

.boxed-layout #video-background {
    height: 350px;
}

.boxed-layout #video-background .page-section-pt {
    padding: 60px 0px;
}

.boxed-layout #video-background .our-skills.bg-opacity-black-50.page-section-pt {
    padding: 75px 0;
}

.boxed-layout.home-2 .portfolio-info {
    display: none;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav .owl-prev {
    left: 50%;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav .owl-next {
    right: 50%;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-controls {
    top: 20px;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav i {
    color: #323232;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav i:hover {
    background: transparent;
}


/*home-3*/

.boxed-layout.home-3 .portfolio .portfolio-item .portfolio-overlay a {
    font-size: 12px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.boxed-layout.home-3 .portfolio .full-screen .portfolio-item .portfolio-overlay {
    top: -20px;
}

.boxed-layout.home-3 .portfolio .portfolio-item .portfolio-overlay span a {
    width: inherit;
    height: inherit;
    line-height: inherit;
    font-size: 14px;
}

.boxed-layout.home-3 .full-screen .portfolio-item .portfolio-overlay a i {
    font-size: 12px;
}

.boxed-layout.home-3 .portfolio-item .portfolio-overlay i {
    padding-left: 0px;
}

.boxed-layout.home-3 .feature-9 {
    height: 300px;
}

.boxed-layout.home-3 .feature-9:hover .feature-9-icon {
    right: 26%;
}

.boxed-layout.home-3 .custom-content li {
    line-height: 26px;
}


/*home-4*/

.boxed-layout .slider-fade-carousel .slider-contents {
    padding-left: 86px;
}

.boxed-layout .slider-fade-carousel .slider-contents h1 {
    font-size: 56px;
}

.boxed-layout.home-4 .mega-menu .menu-links > li:last-child {
    padding-right: 40px;
}

.boxed-layout.home-4 .our-blog .blog-box-info {
    padding: 20px 40px;
    max-height: 231px;
}

.boxed-layout.home-4 .our-blog .blog-box-info span.text-white {
    display: none;
}

.boxed-layout.home-4 .our-blog .blog-box-info p.pt-30.pb-20 {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

.boxed-layout.home-4 .our-blog .blog-box-image {
    max-height: 231px;
}

.boxed-layout.home-4 .mega-menu .drop-down-multilevel.right-menu {
    right: 76px;
}

.boxed-layout .contact-3-info .contact-add p {
    font-size: 12px;
}


/*Box Layout Responsive*/

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
   
}

@media (min-width: 1500px) {
    
}

.boxed-layout .fullscreen-bg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}


.patternChange .main-bg-change li.main-bg-1 {
    background-image: url("../../themes/front/images/main-bg-0.jpg");
}

@media( max-width:992px) {
    
    .boxed-layout .page-wrapper {
        width: inherit;
    }
    .boxed-layout.page-wrapper {
        width: inherit;
    }
}

.customizer-logo {
  display: block;
  margin-bottom: 10px;
  padding: 35px 0;
}

#group-landing-instagram-section {
    overflow: hidden;
}
.bg-gray-transparant {
    background: rgba(0,0,0,0.02);
}

#group-landing-instagram-item-container, #group-landing-instagram-item-container-02 {
    font-size: 0;
    height: 236px;
    overflow: hidden;
    margin-left: -3px;
    margin-right: -3px;
    height: 215.333px;
}
.group-landing-instagram-item {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    position: relative;
    width: 16.666%;
    height: 100%;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 6px;
    width: 16.666%;
}
.group-landing-instagram-item .group-landing-instagram-title-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background: url(../../bin/instagram/group-instagram-01-title-bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.instagram-bg-transparent {
    background: rgba(0, 0, 0, 0.48);
    height: 100%;
}
.group-landing-instagram-item .group-landing-instagram-title-container .group-landing-instagram-title-center {
    position: absolute;
    width: 100%;
    top: 30%;
    margin-top: -50px;
}
.group-landing-instagram-item .group-landing-instagram-title-container h3.title {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 6px;
}
.group-landing-instagram-item .group-landing-instagram-title-container h3 {
    font-family: "Harriet Display",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}
.group-landing-instagram-item .group-landing-instagram-title-container h4 {
    font-family: "Gotham A","Gotham B",Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0;
    color: #fff;
    position: absolute;
    bottom: 14px;
    bottom: 28px;
    left: 0;
    width: 100%;
}
.group-landing-instagram-item .group-landing-instagram-title-container:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: 2px solid #fff;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    -webkit-opacity: .5;
    opacity: .5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
}
.group-landing-instagram-item .instagram-image-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.instagram-image-container {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    height: 150px;
}
.instagram-image-container {
    background: #d7d7d7;
}
.instagram-image-container.image-loaded-version img {
    opacity: 1; 
    display: block;
    position: absolute;
    top: -55px;
    /*left: -55px;*/
    width: auto;
    height: 320px;
}
.instagram-image-container img {
    opacity: 0;
    -webkit-transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
    -moz-transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
    -o-transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
    transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
}

@media (max-width: 768px) and (min-width: 641px) {
    .group-landing-instagram-item {
        width: 24.666%;
        display: inline-table;
    }
}

@media (max-width: 640px) {
    .group-landing-instagram-item {
        width: 50%;
        display: inline-table;
    }
}

#desktop-footer .desktop-footer-block.footer-block-03 {
    padding-right: 0;
    padding-top: 12px;
    width: 100%;
}

#desktop-footer .desktop-footer-block {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    color: #464646;
}

#desktop-footer .desktop-footer-block {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    color: #464646;
}

#desktop-footer-mailing-list h4 {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #464646;
}

#desktop-footer-mailing-list p {
    font-family: "Gotham A","Gotham B",Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 12px;
    color: #464646;
}

#desktop-footer-mailing-list-form {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    background: #ede9e4;
    margin-left: -1px;
    margin-bottom: 16px;
}

#desktop-footer-mailing-list-form input[type=text] {
    font-family: "Gotham A","Gotham B",Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    width: 100%;
    height: 30px;
    color: #464646;
    outline: 0;
    border: none;
    background: 0 0;
    padding-left: 13px;
    padding-right: 33px;
}

.form--error--message {
    font-size: 12px;
    color: #DE6060;
    text-align: right;
    margin: 5px 0 0 0;
}

#desktop-footer-mailing-list-form input[type=submit] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 10px;
    color: #464646;
    outline: 0;
    border: none;
    background: 0 0;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
}

#desktop-footer-social-links {
    position: relative;
}

#desktop-footer-social-links h4 {
    font-size: 12px;
    line-height: 28px;
    color: #464646;
    letter-spacing: .1em;
    margin-bottom: -1px;
}

#desktop-footer-social-links ul {
    font-size: 0;
    margin-left: -5px;
}

#desktop-footer-social-links ul li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    height: 28px;
    width: 24px;
    text-align: center;
}

#desktop-footer-social-links ul li a {
    font-size: 17px;
    line-height: 28px;
    color: #363636;
}

.col__box {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    height: 250px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.col__box__wrapper {
    padding: 0px 20px 25px 20px;
}
.col__title {
    font-family: 'lora.italic';
    text-align: center;
    font-size: 30px;
}
.home__type__desc {
    transition: 0s ease;
    opacity: 0;
    visibility: hidden;
    height: 0;
}

a.btn--box__small, input[type='submit'].btn--box__small, button.btn--box__small {
    font-family: 'proximanova.semibold';
    padding: 8px 12px;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none !important;
    line-height: normal;
    color: #363636;
    border: 1px solid #363636;
    transition: 0.3s ease;
    background: transparent;
    margin: 0 5px;
}

.col__box .btn--box__small {
    transition: 0s ease;
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0;
    width: 60px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: 'proximanova.bold';
    font-size: 11px;
    text-align: center;
}

@media (max-width: 1024px) {

    .col__box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        width: 70%;
        height: 60%;
        background: rgba(255, 255, 255, 0.7);
    }

    .col__box__wrapper {
        padding: 0;
        width: 100%;
    }

    .col__title {
        font-size: 19px;
    }
    .home__type__desc {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }

    .home__type .col__box .btn--box__small {
        position: relative;
        bottom: 0px;
    }
}

.home__subscribe {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.section {
    position: relative;
    padding: 20px 0 20px 0;
}

.light {
    font-family: 'proximanova.light';
    font-size: 28px;
}

.spacing0 {
    letter-spacing: 0 !important;
}

.home__subscribe .input__wrapper {
    margin-left: 25px;
}

.form--homesubscribe .input__wrapper {
    margin: 0 0 0 10px;
}

.input__wrapper {
    display: inline-block;
    float: left;
    width: 300px;
    max-width: 100%;
    margin: 5px 10px 15px 0;
}

.form--homesubscribe .input__wrapper .small {
    width: 245px;
}

input.small, select.small, textarea.small {
    float: left;
    height: 34px;
    padding: 8px 12px;
    font-size: 14px;
}
input, select, textarea {
    outline: none;
    font-family: 'proximanova.regular';
    font-size: 14px;
    letter-spacing: 0.3px;
    width: 280px;
    height: 40px;
    max-width: 100%;
    color: #363636;
    background: white;
    box-shadow: none !important;
    border-radius: 0px !important;
    padding: 11px 12px;
    border: 1px solid #cecece;
    box-sizing: border-box;
}
a.btn--main__small, input[type='submit'].btn--main__small, button.btn--main__small {
    font-family: 'proximanova.semibold';
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none !important;
    line-height: normal;
    color: #fdfdfd;
    padding: 8px 12px;
    background: #363636;
    transition: 0.3s ease;
    border: 1px solid #363636;
    margin: 0 5px;
}

button[disabled], input[disabled] {
    cursor: default;
    background: #f6f6f6;
}

.float-left {
    display: inline;
    float: left;
}

.margin0 {
    margin: 0 !important;
}


.margin-top20 {
    margin-top: 20px;
}
a.btn--main, input[type='submit'].btn--main, button.btn--main {
    font-size: 14px;
    font-family: 'proximanova.bold';
    letter-spacing: 1.5px;
    text-decoration: none !important;
    line-height: normal;
    padding: 12px 30px;
    color: #fdfdfd;
    transition: 0.3s ease;
    background: #363636;
    margin: 0 5px;
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
}
.input__wrapper.error--state .info--error, .textarea__wrapper.error--state .info--error {
    display: block;
}

.info--error {
    display: block;
    margin: 7px 5px;
    color: #d10000 !important;
    float: left;
}

.border {
    border: 4px #EEEEEE solid;
}

.readmore {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #FFFFFF;
}

@media (max-width: 980px) {
    .home__subscribe {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .home__subscribe .input__wrapper {
        margin-left: 0px;
    }

    .form--homesubscribe {
        width: 100%;
        margin: 10px 0 0 0;
        text-align: center;
    }

    .form--homesubscribe .input__wrapper {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .form--homesubscribe .input__wrapper .small {
        width: calc(100% - 50px);
    }
}

a, input[type='submit'], button {
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
}

.img-banner-promotion {
    width: 100%; 
    padding-top: 3%; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3%; 
    background: #eee;
}

@media (max-width: 991px) {
    .img-banner-promotion {
        height: auto;
        padding-top: 0;
        padding-bottom: 0; 
        padding-left: 0;
        padding-right: 0;
    }
}

/* -------------------------------- 

Primary style

-------------------------------- */


/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 9999;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-username {
  background-image: url("../img/cd-icon-username.svg");
}
.cd-form label.cd-email {
  background-image: url("../img/cd-icon-email.svg");
}
.cd-form label.cd-password {
  background-image: url("../img/cd-icon-password.svg");
}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-error {
  border: 1px solid #d76666;
}
.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.cd-form input[type=submit] {
  padding: 10px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-form input[type=submit] {
    padding: 10px 0;
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
  }
}

.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

