.offers__page{
	.option__description{
		width: 338px;
	}
	.option__description__label{
		width: 381px;	
	}

	.form__add__more__wrapper{
		.form__add__more__group{
			.form__add__more{
				.form__add__more__btn{
					width: auto;
				}
			}
		}
	}
}
