$bluelight: #9FBFCB;
$white: #ffffff;
$lightgrey: #F3F4F6;  //lightgrey
$dimgrey: #464646;  //dimgrey
$darkgrey: #adb2bf; //darkgrey

$color-sidebar: $white;


$color-main: $white;

$color-bg-body: $lightgrey;  
$color-bg-hover: $lightgrey;
$color-bg-button: $bluelight; 

$color-text-main: $bluelight; 
$color-text-small: $dimgrey;

$color-border: $bluelight;
$color-border-form: $darkgrey;
$color-border-button-gray: $lightgrey;

$color-line: $lightgrey;




/* $darkgreen: #27352E;  // darkgreen
$lightgrey: #F3F4F6;  //lightgrey
$darkgreensmooth: #416D67; //darkgreen smooth
$dimgrey: #464646;  //dimgrey
$darkgrey: #adb2bf; //darkgrey
$brown: #694D04; */

/* 
$grey-border:#ADB2BF;
$darkgrey:#9b9b9b;
$grey-border-btn: #D4D3D3;
$cyan: #53B4C4;
$yellow: #F8C900;
$red: #DE6060;
.cadetblue{ color:$grey-border; }
.lightgrey{ color:$darkgrey; }
.brown{ color:$grey-border-btn; }
.cyan{ color:$cyan; }
.yellow{ color:$yellow; }
.red{ color:$red; } */